.recent-notes {
  & > h3 {
    margin: 4rem 0 1rem 0;
    font-size: 1.5rem;
    border-bottom: 2px solid var(--tertiary);
    display: inline-block;
    padding-bottom: 0.3rem;
  }

  & > ul.recent-ul {
    list-style: none !important;
    margin-top: 1rem;
    padding-left: 0;

    & > li.recent-li {
      display: block !important;
      margin: 0;
      padding: 1rem 0 0 0;
    }
  }
}
