@use "./base.scss";

// put your custom CSS here!

// RecentNotes
.recent-notes ul.recent-ul li.recent-li {
  .recent-divider {
    width: 100%;
    height: 1px;
    background-color: var(--lightgray);
    margin: 0.8rem 0;
  }

  .section {
    display: flex;
    flex-direction: column;

    .desc {
      margin-bottom: 1rem;

      & > h3 {
        margin: 0;
        & > a {
          background-color: transparent !important;
          padding: 0 !important;
          font-size: 1.3rem;
          font-weight: 600;
          color: var(--dark);
        }
      }
    }

    .tags {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 0.4rem 0.6rem;

      & > li > a {
        font-size: 0.85rem;
        opacity: 0.75;
      }
    }

    .meta {
      opacity: 0.6;
      font-size: 0.9rem;
      color: var(--darkgray);
      margin: 0.2rem 0 0 0;
    }
  }
}
